
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAcceso.cshtml"; @* le estamos indicando que utilizaremos este LayOut *@
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="@Url.Content("~/Views/Acceder/login.css")" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background: linear-gradient(to right,#239bf5,#69c6f5);
            padding: 20px 25px;
        }

        div .pos {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        h1 .pbox {
            width: 152.5px;
        }

        form {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            width: 400px;
            background: #c2e5f7;
            box-shadow: 0 5px 10px rgba(71,3,6,0.7);
        }

            form .title {
                padding: 10px;
                color: #252525;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            form label {
                margin-bottom: 35px;
            }

                form label input {
                    width: 140px;
                    height: 40px;
                    border-radius: 25px;
                    margin-bottom: 10px;
                }

                form label .fa-solid {
                    font-size: 30px;
                    color: #000;
                    margin-right: 10px;
                }

                form label .data {
                    outline: none;
                    border: none;
                    font-size: 14px;
                    text-align: center;
                    color: #252525;
                    border-bottom: solid 1px #239bf5;
                }

                form label input::placeholder {
                    text-align: center;
                    color: #808080;
                }

        div form label .log {
            outline: none;
            border: none;
            color: #3ddb36;
            font-size: 20px;
            border-radius: 25px;
            height: 30px;
            width: 120px;
        }
    </style>
</head>

<body>
    <div class="pos">

        <form id="frmAcceder">
            <h1 class="title">Iniciar Sesión</h1>
            <label>
                <i class="fa-solid fa-user"></i>
                <input type="text" class="data" name="usuario" placeholder="Usuario">
            </label>
            <label>
                <i class="fa-solid fa-lock"></i>
                <input type="password" class="data" name="password" id="inputPassword" placeholder="Contraseña">
            </label>
            <label>
                <input type="submit" class="log" value="Entrar" />
            </label>

        </form>
    </div>
</body>
</html>



@section scripts
{
    <script>
        $(document).ready(function()
        {                                                // con #frmAcceder que es el ID anterior
            $("#frmAcceder").submit(function(e)          // permite iniciar el envio de esta vista al backend en este caso accederController
            {
                e.preventDefault();                      // cancela el evento, es decir no permite que el submit lo haga tipo clasico.
                url = "@Url.Content("~/acceder/enter")"  // le indico la direccion url
                parametros = $(this).serialize();        // obtenemos los elementos preparados para una peticion del backend

                $.post(url, parametros, function (data)  // envia una entidad a un recurso en especifico
                {
                    if (data == 1)                       // cuando data sea igual a 1 ejecutara la url, este dato viene del BackEnd
                    {
                        document.location.href = "@Url.Content("~/")"  // permite obtener o establecer la dirección de la página
                        // que se muestra en la ventana del navegador
                    }
                    else
                    {
                        alert(data)    // abrira una caja de mensaje indicando un error
                    }
                })
            })
        })
    </script>
}



